
.section__title {
  padding: 80px 0px 0px 20px;
  text-align: left;
  &-text {
    font-weight: 800;
    font-size: 30px;
    color: #616161;
  }
  &-subtext {
    font-weight: 300;
    font-size: 20px;
    color: #616161;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}